body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff;
}

.container {
    text-align: center;
}

#gifContainer {
    width: 100%;
    position: relative;
    height: 400px;
}

#gifContainerImg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 100%;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
}
#yesButton {
    padding: 10px 40px; 
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
    background-color: #009705;
    color: white;
    border: 2px solid #000000;
    border-radius: 10px;
}

#noButton {
    padding: 10px 40px;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
    background-color: #FF5733;
    color: white;
    border: 2px solid #000000;
    border-radius: 10px;
}
#noButton span {
    font-size: 18px;
    color: #fcf4f4;
}

#yesButton:hover{
    background-color: #077703; 
}
#noButton:hover {
    background-color: #972205;
}
.bg-green {
    background-color: #ffffff;
}

#messageContainer {
    margin-top: 30px;
    padding: 0 30px;
    font-size: 25px;
    color: #FF0000;
    font-family: sans-serif;
    text-shadow: 2px 2px 4px #000;
    animation: pulse 0.5s infinite alternate;
}

#messageContainer2 {
    margin-top: 20px;
    font-size: 25px;
    color: #FF0000;
    font-family: sans-serif;
    text-shadow: 2px 2px 4px #000;
    animation: pulse 0.5s infinite alternate;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}